# Gradle
.gradle
gradle/
gradlew
gradlew.bat

# IntelliJ IDEA / AndroidStudio
.idea/
*/.idea/
*.iml
/local.properties
/build

# Apple
.DS_Store

# Build application files
*.apk
*.ap_
*.abb
output-metadata.json
coagutest_ks

# Files for the ART/Dalvik VM
*.dex

# Others
/captures
.externalNativeBuild
.cxx